extends ./layouts/default.pug

block head
  link(rel="stylesheet" href="./stylesheets/park.css")
  title #{parkName}の待ち時間 | Fantasmic!

block content
  section.TopImage(style=`background-image:url(/static/images/${parkNameEN}.jpg)`)
  section.MainContents
    h2 ディズニー#{parkNameJP}の待ち時間
      each time, id in waitTimes
        div.Attraction
          p.AttractionName #{time.name}
          if time.waitTime != 0
            p.OtherText 現在#{time.waitTime}時間待ちです。
          else
            p.OtherText 現在閉園中です。
